on property:persist.security.deny_new_usb=disabled
    write /proc/sys/kernel/deny_new_usb 0

on property:persist.security.deny_new_usb=enabled
    write /proc/sys/kernel/deny_new_usb 1

on property:persist.security.deny_new_usb=dynamic
    write /proc/sys/kernel/deny_new_usb 1

on property:security.deny_new_usb=*
    write /proc/sys/kernel/deny_new_usb ${security.deny_new_usb}