# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# Allow Datura to set persist.sys.global.cleartext
set_prop(platform_app, system_prop)