###
### A domain for the OTA Updater
###

typeattribute updater_app coredomain;
app_domain(updater_app)

# Access the network.
net_domain(updater_app)

# Allow OTA Updater to communicate with update_engine for A/B update.
binder_call(updater_app, update_engine)
allow updater_app update_engine_service:service_manager find;

# Write to /data/ota_package for OTA packages.
allow updater_app ota_package_file:dir rw_dir_perms;
allow updater_app ota_package_file:file create_file_perms;